.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-search-container {
    position: relative;
    background: rgba(237, 237, 237, 0.8);
    top: 0;
    left: 0;
    width: 260px;
    margin: 10px 0 0 10px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible;
}

.geocoder {
    position: relative;
    margin: 10px 0;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

#zoombutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

.map-data-container {
    position: relative;
    background: rgba(237, 237, 237, 0.8);
    width: 260px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible;
}

.description {
    position: relative;
    background: rgba(237, 237, 237, 0.8);
    width: 260px;
    bottom: 0;
    left: 10px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible;
}

.legend {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    right: 0;
    margin: 0 10px 30px 0; /*top margin, right margin, bottom margin, left margin*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 200px;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div {
    margin-bottom: 5px;
}

.legend-key {
    display: inline-block;
    border-radius: 50%;
    /*curve border to make a circle*/
    height: 10px;
    /*size of circle*/
    width: 10px;
    margin-right: 5px;
    /*position of circle*/
}
